.wrapper{
  border-radius: 10px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.theory{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards{
  display: flex;

  gap: 15px;
}

.title{
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(94, 124, 244);
  max-width: 100px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 250px;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  border-right: 1px solid rgb(243, 243, 247);
  img{
    max-height: 100px;
  }
  a{
    font-weight: 500;
    color: rgb(88, 88, 91);
    // color: rgb(36, 27, 29);
  }
}