.wrapper{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.title{
  font-size: 24px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 25px;
  .inputs{
    display: flex;
    gap: 25px;
    div{
      width: 100%;
    }
  }
  input{
    width: 100%;
    padding: 15px;
    outline: 0;
  }
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 6px;
  margin-bottom: 45px;
}


.input{
  width: 100%;
  padding: 15px;
  padding-left: 45px;
  outline: 0;
  &::placeholder{
    font-size: 18px;
    font-weight: 500;
  }
}

.clearInput{
  display: block;
  position: absolute;
  top: 2px;
  left: 10px;
  cursor: pointer;
  color: rgb(151, 151, 151);
  font-size: 32px;
  font-weight: 300;
}

.button{
  font-size: 16px;
  padding: 10px;
}
.empty{
  text-align: center;
  font-size: 18px;
  color: rgb(95, 95, 99);
}