@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(36, 27, 29);
  background-color: #242424;
  background-color: #393939;
  background-color: rgb(245, 245, 250);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  text-decoration: inherit;
}


h2{
  font-size: 24px;
  margin-bottom: 25px;
}

input{
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(243, 243, 247);
  outline: none;
  outline-offset: 0;
}

input:active,
input:hover,
input:focus {
  outline: none;
}

button{
  align-self: center;
  background-color: rgb(94, 124, 244);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  max-width: 400px;
  border-radius: 6px;
}

button:disabled{
  background-color: rgb(145, 148, 162);
}